exceptiongroup==1.2.2
importlib-metadata @ file:///croot/importlib_metadata-suite_1704813515092/work
iniconfig==2.0.0
llvmlite @ file:///croot/llvmlite_1697031035361/work
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
numba @ file:///croot/numba_1701362346798/work
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
opencv-python==4.10.0
opencv-python-headless==4.10.0
packaging==24.2
pillow==10.4.0
pluggy==1.5.0
pytest==8.3.4
tomli==2.2.1
zipp @ file:///croot/zipp_1729012354496/work
